/************************/
/*		HTML and BODY 	*/
/************************/
html {
	font-family: "gafata";
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin:0;
	background: url("../img/bg.jpg");
}

h1 {
	margin: 0;
	padding: 0;
}

/********************/
/*	Navigation Bar	*/
/********************/

#navSpace {
	height: 9em;
}

nav {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}

nav ul {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 2em 5%;
}

nav li {
	position: relative;
	float: left;
	background-color: rgba(143, 60, 28, 0.85);
	height: 7em;
	width: 7em;
	margin: 0 1em;
	line-height: 6.8em;
	border-radius: 50% 10% 50% 50%;

	box-shadow: 3.5px 5px 3px rgba(50, 50, 50, 0.5);
}

nav li:hover {
	-webkit-transform: rotate(6deg);
}

#accountLink {
	position: absolute;
	right: 0;
	height: 5em;
	width: 5em;
	line-height: 4.8em;
}

#accountLink a {
	font-size: 1em;
}

nav a {
	display: block;
	height: inherit;
	position:relative;
	text-align: center;
	
	font-size: 1.4em;

	text-decoration: none;
	color: #ddd;
}

/****************/
/*	Order Page 	*/
/****************/

div.orderPane, div.menuPane {
	padding: 2em;
	background-color: rgba(0,0,0,0.8);
	color: #ddd;
	border-radius: 40px;
}

div.orderPane {
	float: left;
	width: 22%;
	margin: 2em 1% 0 6%;
}

div.menuPane {
	float: left;
	width: 52%;
	margin: 2em 6% 0 auto;
}