/**************************************/
/*             GENERAL CSS            */
/**************************************/

/*******************/
/* HTML AND BODY   */
/*******************/


html {
	font-family: "Condiment", arial;
}

body {
	background-image: url("../img/bg.jpg");
	margin: 0;
	font-size: 16px;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	text-align: center;
}

h2 {
	/* font-size: 2.5em; */
	text-align:center;
	margin: 3%;
}

p {
	font-family: 'gafata';
	/*font-size:1.2em; */
}

/****************/
/*	General 	*/
/****************/

.shadowBoxLight {
	background-color: rgba(250,250,250,0.3);
	box-shadow: 5px 5px 5px #888;
	border-radius: 2em;
	padding: 1em;
	margin-top: 2em;
}

/*
.shadowBoxLight p {
	font-size: 1em;
}
*/

.shadowBoxHeavy {
	background-color: rgba(250,250,250,0.3);
	box-shadow: 10px 10px 8px #888;
	margin-top: 2em;
	border-radius: 2em;
}
/*
.button {
	padding: 1px; 
	line-height: 32px;
	font-size: 20px;
	width: 100%;
	text-indent: 8px;
}
*/


/****************/
/*	About Page 	*/
/****************/
article.about {
	display:block;
	margin: 5% 15%;
	height: 100%;
	border-radius: 6em;
	padding: 2em 3em;
}

article.about h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

article.about img {
	float: left;
	margin-right: 10px;
}

article.about p{
	margin: 0;
	padding: 0;
}



/*******************/
/* NAVIGATION BAR  */
/*******************/
nav {
	position: fixed;
	/*margin-bottom: 10px;*/
	top:0;
	left:0;
	width:100%;
	/*border-bottom: 2px solid #ccc;*/
	background: #8F3C1C;
	/* background-color: rgba(217, 94, 50, 1); */
	z-index: 2;
}

nav ul {
	list-style: none;
	margin:0;
	padding:0;
}

nav li {
	float:left;
	display: block;
	background: #8F3C1C;
	/* background-color: rgba(217, 94, 50, 1); */
}

nav li {
	font-size: 1.6em;
	height: 40px;
}

nav li a {
	text-decoration:none;
	display:block;
	padding: 0em 1em;
	color: white;
	padding-top:0.15em;
}

nav li:hover {
	background-color: #C8C8C8 
}
nav li:first-child:hover{
	background: #8F3C1C;
}

nav .select:hover, nav .select {
	background-color: #C1C98D;
}

#logoImg {
	width: 75px;
	height: 33px;
	float:left;
	padding-top: 0.15em;
}

#accountLink {
	position: fixed;
	right: 50px;
	font-size: 20px;
}

#accountLink a {
	margin-top: 5px;
	font-size: 20px;
}

.tacoRow td:hover {
	background:#eee;
}

.menuItem {
	text-align: left;
	margin:5% 0% 5% 7%;
}
.menuItem:hover {
	background: #F0F0F0;
	cursor: pointer;
}

#navSpace {
	height: 40px;
}



/**************************************/
/*             ORDER PAGE             */
/**************************************/

/***********************/
/*    ORDER PANE       */
/***********************/

.orderPane {
	width: 25%;
	float: left;
	margin: 1em 5%;
	min-height: 400px;
}

#orderList img {
	float: right;
}

.orderPane input {
	position: relative;
	display: block;
	bottom:0px;
}

.orderPane ul {
	list-style: none;
	margin: 0;
	padding:0;
	font-family: "gafata";
}

.orderPane #orderList {
	height: 280px;
}

.orderPane #taxAndTotal {
	float: left;
	margin-top: 1em;
}

.orderPane ul li{
   width:100%;
   padding: .1em 0em;
}

img.cancelButton {
	border-radius:50%;
}

img.cancelButton:hover {
	box-shadow: 1px 2px 2px #888888;
}

/***********************/
/*    MENU  PANE       */
/***********************/

.menuPane {
	float:left;
	width:52%;
	padding: 2em;
	/* background-color: rgba(143,60,28,0.95); */
}

.menuPane h2 {
	font-size: 1em;
	border-bottom: 1px solid black;
	padding-bottom: 4px;
}

.menuPane section {
	width: 140px;
	float:left;
	margin: 2px;
	background-color: rgba(41, 17, 8, 0.7);
	border-radius: 4px;
	color: #ddd;
}

.menuPane section:hover {
	background-color: rgba(41, 17, 8, 0.6)
}

.menuPane img{
	width: 140px;
	height: auto;
	ali
}

#menuTable {
	display:inline;
	width:10%;
}

.tacoRow td:hover {
	background-color: #C8C8C8 
}

tr {
	text-align: center;
}

td {
	font-size: 2em;
	width: 25%;
}

td img {
   width:100%;
   height:40%;
}

/**************************************/
/*    SIGN IN/CREATE ACCOUNT PAGE     */
/**************************************/

.userForm {
	width:85%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.accountForm {
	width:90%;
	margin: 0 auto;
}


/********************/
/*		LOCATION	*/
/********************/
#map-canvas {
	display:block;
	position: absolute;
	top: 40px;
	left: 30%;
	height: 90%;
	width: 66%;
	z-index: 1;
	margin: 1em;
	box-shadow: 8px 8px 8px #888;
	min-height: 585px
}

#locations {
	width:30%;
	min-width: 300px;
}

#locations ul {
	list-style: none;
	font-family: 'gafata';
}

#locations section {
	width: auto;
	margin: 1em 0;
	margin-right: 10%;
	padding: 1em;
	border-radius: 0em 10em 10em 0;
}

#locations section h1 {
	text-align: left;
	font-size: 1.5em;
}

#locations section p {
	padding: 0;
	margin: 0 0.3em;
}

#locations section.hover {
	background-color: rgba(143,60,28,0.2);
	box-shadow: 7px 7px 7px #777;
	margin-right: 9%;
}


/***********************/
/* ACCOUNT PAGE CONTENT*/
/***********************/

input {
	font-family: "gafata";
}

.userInput{
	padding: 1px; 
	line-height: 32px;
	font-size: 20px;
	width: 100%;
	text-indent: 8px;
	margin-top: 8px;
}

.userInput:hover {
	color: #888;
}

input:not([type=submit]), select.userInput{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius:5px;
	border-width: 0px;
}

input[type=submit]{
	background-color: #C1C98D;
	border-radius: 10px;
	border:none;
}


/***********************/
/*     SIGN IN PANE    */
/***********************/

#signInPane {
	margin: 0% 0% 0% 15%;
}

/***********************/
/* CREATE ACCOUNT PANE */
/***********************/
 .accountForm div{
	border-radius: 20px;
	float:left;
	width: 25%;
	padding: 2% 2% 2% 2%;
}

#createAccountPane {
	margin: 0% 10% 0% 10%;

}
#createAccountPane  h1, #signInPane h1{
	text-align: center;
	font-size: 36px;
	margin:0px;
}

#tempDiv {
	height:50px;
}


/********************************/
/*		CUSTOM TACO PAGE          */
/********************************/

/***********************/
/*  CURRENT TACO PANE  */
/***********************/
#currentTacoPane {
	float:left;
	width:25%;
	margin: 2em auto;
}

.currentList {
   font-size:1.6em;
   margin: .3em 0;
   padding-left: .2em;
}

#currentVeg {
   border-left: 3px solid forestgreen;
   color: gray;  
}

#currentVeg .added {
   color: black;
}

#currentFill {
   border-left: 3px solid blue;
   color: gray;
}

#currentFill .added {
   color: black;
}

#currentTortilla {
   border-left: 3px solid red;
   color: gray;
}

#currentTortilla .added {
   color: black;
}

#currentRice {
   border-left: 3px solid darkgoldenrod;
   color: gray;
}

#currentRice .added {
   color: black;
}

#currentCheese {
   border-left: 3px solid yellow;
   color: gray;
}

#currentCheese .added {
   color: black;
}

#currentBeans {
   border-left: 3px solid Brown;
   color: gray;
}

#currentBeans .added {
   color: black;
}

#currentSauce {
   border-left: 3px solid hotpink;
   color: gray;
}

#currentSauce .added {
   color: black;
}

#currentExtras {
   border-left: 3px solid powderblue;
   color: gray;
}

#currentExtras .added {
   color: black;
}

#addTaco {
   margin-left:7%;
   width:85%;
   height:3em;
}

#cancelTaco {
   margin:2% 0% 0% 7%;
   width:85%;
   height:2em;
}


/***********************/
/*  INGREDIENTS  PANE  */
/***********************/

#ingredientsPane {
	float:left;
	width:25%;
}

.selected {
   color:blue;
   border-left: 2px solid #ccc;
}


/********************/
/*  CHECKOUT  PANE  */
/********************/

.checkoutPane {
	float:left;
	width:25%;
	margin: 0% 4%;
}
