
html {
	font-family: 'Swanky and Moo Moo', cursive;
}

body {
	background-color: #EEEED1;
}

/* Styles for the navigation bar */
#navbar {
	position: fixed;
	margin-bottom: 10px;
	top:0;
	left:0;
	width:100%;
	border-bottom: 2px solid #ccc;
	background: #8F3C1C;
}

td {
	font-size: 36px;
}

h2 {
	font-size: 45px;
}
#navbar ul {
	list-style: none;
	margin:0;
	padding: 0.3em;
}

#navbar li {
	float:left;
	display: block;
	background: #8F3C1C;
	/* border: 1px solid #8F3C1C; */
}

/* Height given is the same as the logo image. Is there a better way to do this? */
#navbar li {
	font-size: 30px;
	height: 40px;

}

#navbar li a {
	text-decoration:none;
	display:block;
	/* width: 100%; */
	/* height: 100%; */
	padding: 0em 1em;
	color: white;
}

#navbar li:hover {
	background-color: #C8C8C8 
}

#navbar .select:hover, #navbar .select {
	background-color: #C1C98D;
}

#logoImg {
	width: 75px;
	height: 33px;
}

#accountLink {
	position: fixed;
	right: 50px;
}

.orderPane {
	width: 225px;
	margin:0px;
	float: left;
	padding-right:25px;
}

#menu {
	float:left;
	width:30%;
}

#customTaco{
	padding:0px 125px;
}   

.accountForm {
	width:90%;
	margin: 0 auto;
}

.userForm {
	width:200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.userInput {
	width:200px;
}

#signInPane {
	border-style:solid;
	border-width:1px;
	float: left;
	width:50%;
}

#createAccountPane {
	border-style:solid;
	border-width:1px;
	width:50%;
	margin-left:50%;
}

img.cancelButton {
	float:right;
	border-radius:50%;
}

img.cancelButton:hover {
	box-shadow: 1px 2px 2px #888888;
}

.tacoRow td:hover {
	background-color: #C8C8C8 
}

tr {
	text-align: center;
}

#ingredientLists {
	float:right;
	width:250px;
}


