/**************************************/
/*             GENERAL CSS            */
/**************************************/

/*******************/
/* HTML AND BODY   */
/*******************/


html {
	font-family: 'Swanky and Moo Moo', cursive;
}

body {
	background-color: #EEEED1;
}


h2 {
	font-size: 2.5em;
}

article h1 {
	font-size: 4em;
	text-align: center;
}

article img {
	float: left;
	margin-right: 10px;
}
article p{
	
}



/*******************/
/* NAVIGATION BAR  */
/*******************/
#navbar {
	position: fixed;
	/*margin-bottom: 10px;*/
	top:0;
	left:0;
	width:100%;
	/*border-bottom: 2px solid #ccc;*/
	background: #8F3C1C;
}

#navbar ul {
	list-style: none;
	margin:0;
	padding-left: 0.3em;
	margin-left: -0.3em;
}

#navbar li {
	float:left;
	display: block;
	background: #8F3C1C;
}

#navbar li {
	font-size: 30px;
	height: 40px;
}

#navbar li a {
	text-decoration:none;
	display:block;
	padding: 0em 1em;
	color: white;
}

#navbar li:hover {
	background-color: #C8C8C8 
}
#navbar li:first-child:hover{
	background: #8F3C1C;
}

#navbar .select:hover, #navbar .select {
	background-color: #C1C98D;
}

#logoImg {
	width: 75px;
	height: 33px;
	float:left;
}

#accountLink {
	position: fixed;
	right: 50px;
	font-size: 20px;
}

#accountLink a {
	margin-top: 5px;
	font-size: 20px;
}

td:hover {
	background:#eee;
}

#menuItem:hover {
	background: #eee;
}



/**************************************/
/*             ORDER PAGE             */
/**************************************/

/***********************/
/*    ORDER PANE       */
/***********************/

#orderPane {
	width: 20%;
	margin:0px;
	float: left;
	padding-left:2%;
	padding-right: 2%;
}

img.cancelButton {
	float:right;
	border-radius:50%;
}

img.cancelButton:hover {
	box-shadow: 1px 2px 2px #888888;
}

/***********************/
/*    MENU  PANE       */
/***********************/

#menuPane {
	float:left;
	width:52%;
	padding-right:2%;
}

#menuTable {
	display:inline;
	width:10%;
}

.tacoRow td:hover {
	background-color: #C8C8C8 
}

tr {
	text-align: center;
}

td {
	font-size: 2em;
}

#customTaco{
	padding:0px 125px;
}   


/***********************/
/*  INGREDIENTS  PANE  */
/***********************/

#ingredientsPane {
	float:left;
	width:20%;
	padding-right: 2%;
}



/**************************************/
/*    SIGN IN/CREATE ACCOUNT PAGE     */
/**************************************/

.userForm {
	width:200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.accountForm {
	width:90%;
	margin: 0 auto;
}

.userInput {
	width:200px;
}

/********************************/
/*		Location Styling		*/
/********************************/
#map-canvas {
	display:block;
	position: absolute;
	top: 40px;
	left: 40%;
	height: 95%;
	width: 60%;
}

#locations {
	width:40%;
}


/***********************/
/*     SIGN IN PANE    */
/***********************/

#signInPane {
	border-style:solid;
	border-width:1px;
	float: left;
	width:50%;
}

/***********************/
/* CREATE ACCOUNT PANE */
/***********************/


#createAccountPane {
	border-style:solid;
	border-width:1px;
	width:50%;
	margin-left:50%;
}



#tempDiv {
	height:100px;
}
